<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="customSection"
             type="GlobalizedConsoleApp.Configuration.CustomConfigurationSection, GlobalizedConsoleApp"/>
  </configSections>
  <customSection appName="GlobalizedConsoleApp" culture="en-EN">
    <outputDirectory path="C:\path\to\folder\Default"/>
    <directories>
      <directory key="key1" path="C:\path\to\folder\UpperCaseName"/>
      <directory key="key2" path="C:\path\to\folder\LowerCaseName"/>
      <directory key="key3" path="C:\path\to\folder\NumericName"/>
    </directories>
    <rules>
      <rule name="rule1" pattern="^[A-Z]+(\.[A-Z]+)?$" targetFolder="C:\path\to\folder\UpperCaseName" ordinalNumber="True" relocationDate="True"/>
      <rule name="rule2" pattern="^[a-z]+(\.[a-z]+)?$" targetFolder="C:\path\to\folder\LowerCaseName" ordinalNumber="False" relocationDate="True"/>
      <rule name="rule3" pattern="^[0-9]+(\.[a-z]+)?$" targetFolder="C:\path\to\folder\NumericName" ordinalNumber="True" relocationDate="True"/>
    </rules>
  </customSection>
</configuration>
